<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Livros</h1>
    <a href="{% url 'cria_livro' %}">Novo Livro</a>
    <ul>
        {% for livro in livros %}
        <li>{{ livro.titulo }} - {{ livro.editora.nome }}
            (<a href="{% url 'edita_livro' livro.id %}">Editar</a> |
            <a href="{% url 'deleta_livro' livro.id %}">Excluir</a>)
        </li>
        {% endfor %}
    </ul>   

</body>
</html>